.lessSize{
    font-size: 0.8vw;
    margin: 2%;
 }

 .lessSize:hover{
     font-size: 1vw;
 }

 #BackCateg{
    color: white;
    font-size: 1.7vw;
    line-height: 1;
    cursor: pointer;
    display: flex;
    margin: 0 33vw 0 0;
    padding-bottom: 14vh;
}