.howtoplay{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height:50px;
    align-items: center;
    font-size: 2vw;
    font-family: "Bungee";
    position: relative;
}

.howtoplay p{
    font-size: 1.7vw;
    margin: 0;
    text-align: left;
}

.normalWidth{
    min-width: 40%;
}
#backBtn{
    position: absolute;
    left: -7%;
    top: 40%;
    color: white;
    font-size: 1.7vw;
    line-height: 1;
    display: flex;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}