@keyframes slideInFromLeft {
  0% {
    width: 40%;
  }
  100% {
    width: 60%;
  }
}

.homePlay {
  animation: 1s 0s 1 slideInFromLeft;
  animation-fill-mode: forwards;
  color: white;
  height: 60vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(221, 221, 221, 0.151);
}

.play {
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.play h4 {
  margin: 0;
  padding: 1rem;
  font-family: "Patua One";
}

.play button {
  width: 40px;
}

.row {
  display: flex;
  width: 100%;
}
.letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0.5rem;
  padding: 1rem;
  width: 55%;
  height: 100%;
}
.letter {
  width: 30%;
  font-family: cursive;
  margin: 3px;
  height:37%;
  background-color: rgba(255, 255, 255, 0.151);
  color: white;
  font-size: 2.2vw;
  line-height: 0;
  border-radius: 5px;
  border: none;
}
.letter:hover {
  background-color: rgba(255, 0, 0, 0.822);
  cursor: pointer;
  border: 2px solid white;
}
.container2 {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
}

.guess {
  font-size: 4vw;
  text-align: right;
  margin: 1rem;
  padding-left: 4rem;
  letter-spacing: 1rem;
}

.imagegg {
  position: absolute;
  left: 45%;
  top: 15%;
  width: 45%;
  height: 360%;
  border: none;
}
